<h1>About this site</h1>
</br>

<h2>Intention :</h2> 

<p>This website is created as a test website. This will be include in my portfolio so that I remember how far I've come and the long way I still have to go.</p>		
</br>
<h2>Tech :</h2>
<p>The server is based on Djanjo framework of python.</p>
</br>

<h2>Who am I?</h2>
<p>I'm a learner.</p>
</br>

<h2>What I've to say to fellow learners?</h2>
<p>Never care for what they say, </p>
<p>Never care for what they do,</p>
<p>Never care for what know...</p>
<p>Forever trust who we are ...and Nothing Else Matter!!.</p>
</br>
</br>
<a href= "./password_gen_home.html" >Go back to Password Generator App</a>




