<!doctype html>
<html lang="en">
  	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<title>Password Generator</title>
  	</head>

	<body>
		<div class="container text-center">
			<h1>Password Generator</h1>


	  



			<form action="/password" method = "post"> 
				Select length of password 
				<select name = "length">
					<option value ="6" >6</option>
					<option value ="7">7</option>
					<option value ="8" selected="selected">8</option>
					<option value ="9">9</option>
					<option value ="10">10</option>

				</select> 
				</br>
				Include numbers? <input type="checkbox" id="numbers" name="numbers">
				</br>
				Include special characters? <input type="checkbox" id="special_chars" name="special_chars">
				</br>
				<input  title="" class="btn btn-primary" type="submit" value = "Generate Password" ></input>

			</form>
			</br>
			</br>
			</br>
			</br>
			</br>
			<a href= "./aboutpasswordgen.html" class="btn btn-outline-dark" >About this password generator app</a>
			</br>
			</br>
			<a href= "./index.html" class="btn btn-danger" >Go back to portfolio home</a>

		</div>

	</body>
</html>